body{
    background-color: aqua;
}

header{
    
    padding: 2%;
    background-color: rgb(195 139 221);
    justify-content: center;
}

#imagen{
    width: 200px;
    height: 300px;
    margin: 30px;
}

a{
    display: block;
    background-color: gainsboro;
    text-decoration: none;
    width: 75px;
}

input{
    border-radius: 2%;
    height: 24px;
}

label{
    color: white;
    font-size: 25px;
    font-family: cursive;
    margin: 3%;
}

button{
    
    border: aqua;
    border-style: revert;
    height: 30px;
    border-radius: 10%;
    color: black;

    
}

.info{
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
}

.separado{
    width: 29.1%;
    display: flex;
    margin: 1.85%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: rgb(195 139 221);
    border-radius: 2%;
}

h1{
    font-size: large;
    font-family: cursive;
    width: 50%;
    text-align: center;
}

.main{
    width: 100%;
    background-color: aqua;
    display: flex;
}