body{
    background-color: aqua;
}

header{
    
    padding: 2%;
    background-color: rgb(195 139 221);
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

a{
    
    background-color: #f0f0f0;
    text-decoration: none;
    border: aqua;
    border-style: revert;
    height: 30px;
    border-radius: 10%;
    color: black;
    margin: 3%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;

}

.cajon{
    
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

.btn{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}


#imagen{
    width: 200px;
    height: 300px;
    margin: 30px;
}


input{
    border-radius: 2%;
    height: 24px;
}

label{
    color: white;
    font-size: 25px;
    font-family: cursive;
    margin: 3%;
}

button{
    
    border: aqua;
    border-style: revert;
    height: 30px;
    border-radius: 10%;
    color: black;

    
}

.info{
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
}

.separado{
    width: 29.1%;
    display: flex;
    margin: 1.85%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: rgb(195 139 221);
    border-radius: 2%;
}

h1{
    font-size: large;
    font-family: cursive;
    width: 50%;
    text-align: center;
}

.main{
    width: 100%;
    background-color: aqua;
    display: flex;
}